.chair {
	height: 50px;
	width:10%;
	margin: 1%;
}

.container {
	margin: auto;
	max-width: 900px;
}
.available {
	background-color: #8d929b;
	display:inline-block;
}


.reserved {
	background-color: #8c1d0e;
}

